{% form_theme form ':Form:fields.html.twig' %}

{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        '@RebrecVPNSSHBundle/Resources/public/css/jquery.datetimepicker.css'  %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts_last %}
    {{ parent() }}
    {% javascripts 
        
        '@RebrecVPNSSHBundle/Resources/public/js/jquery.datetimepicker.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    
    {% endjavascripts %}
    <script type="text/javascript">
        $('.datetimepicker').datetimepicker();
    </script>
    
{% endblock %}

{% block title %}Tickets:new{% endblock %}

{% block body %}
<h1>Nouveau Ticket</h1>
{{ form(form) }}

{% endblock %}
