
{% extends "::base.html.twig" %}

{% block title %}Tickets:list{% endblock %}

{% block body %}
{% spaceless %}
<h1>Tickets Alloués</h1>
    <br>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Valide à partir de</th>
                <th>Valide jusqu'à</th>
                <th>Durée de Validité</th>
                <th>Description</th>
                <th>Token</th>
                <th>Profile</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in arrTickets %}
                <tr>
                    <td>{{ ticket.getBeginValidDate|date('Y-m-d H:i:s') }}</td>
                    <td>{{ ticket.getEndValidDate|date('Y-m-d H:i:s') }}</td>
                    <td>{{ ticket.getAllowedTime|date('Y-m-d H:i:s') }}</td>
                    <td>{{ ticket.description }}</td>
                    <td>{{ ticket.authkey }}</td>
                    <td>{{ ticket.profile }}</td>
                </tr>
            {% endfor %}
        </tbody>
{%endspaceless %}
{% endblock %}
